@page
@model Topaz.UI.Razor.Areas.Admin.Pages.ContactActivity.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InaccessibleContactActivity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InaccessibleContactActivity.ActivityDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InaccessibleContactActivity.ActivityDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InaccessibleContactActivity.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InaccessibleContactActivity.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InaccessibleContactActivity.Contact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InaccessibleContactActivity.Contact.InaccessibleContactId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InaccessibleContactActivity.ContactActivityType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InaccessibleContactActivity.ContactActivityType.ContactActivityTypeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InaccessibleContactActivity.PhoneResponseType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InaccessibleContactActivity.PhoneResponseType.PhoneResponseTypeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.InaccessibleContactActivity.InaccessibleContactActivityId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
