@page
@model Topaz.UI.Razor.Areas.Admin.Pages.ContactActivity.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InaccessibleContactActivity[0].ActivityDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InaccessibleContactActivity[0].LetterReturned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InaccessibleContactActivity[0].Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InaccessibleContactActivity[0].Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InaccessibleContactActivity[0].ContactActivityType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InaccessibleContactActivity[0].PhoneResponseType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.InaccessibleContactActivity) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LetterReturned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact.InaccessibleContactId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactActivityType.ContactActivityTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneResponseType.PhoneResponseTypeId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.InaccessibleContactActivityId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.InaccessibleContactActivityId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.InaccessibleContactActivityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
