@page
@model Topaz.UI.Razor.Pages.Addresses.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>InaccessibleAddress</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InaccessibleAddress.CurrentContactListId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InaccessibleAddress.CurrentContactListId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InaccessibleAddress.StreetAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InaccessibleAddress.StreetAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InaccessibleAddress.EstimatedDwellingCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InaccessibleAddress.EstimatedDwellingCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InaccessibleAddress.PropertyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InaccessibleAddress.PropertyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InaccessibleAddress.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InaccessibleAddress.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InaccessibleAddress.Territory)
        </dt>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="InaccessibleAddress.InaccessibleAddressId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
