@page
@model Topaz.UI.Razor.Pages.Addresses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InaccessibleAddress[0].Territory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InaccessibleAddress[0].StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InaccessibleAddress[0].PropertyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InaccessibleAddress[0].EstimatedDwellingCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InaccessibleAddress[0].Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.InaccessibleAddress) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Territory.TerritoryCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedDwellingCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.InaccessibleAddressId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.InaccessibleAddressId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.InaccessibleAddressId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
