@page
@model Topaz.UI.Razor.Pages.Contacts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InaccessibleContact</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InaccessibleContact.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InaccessibleContact.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InaccessibleContact.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InaccessibleContact.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InaccessibleContact.MiddleInitial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InaccessibleContact.MiddleInitial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InaccessibleContact.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InaccessibleContact.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InaccessibleContact.MailingAddress1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InaccessibleContact.MailingAddress1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InaccessibleContact.MailingAddress2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InaccessibleContact.MailingAddress2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InaccessibleContact.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InaccessibleContact.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InaccessibleContact.ContactList)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InaccessibleContact.ContactList.InaccessibleContactListId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InaccessibleContact.PhoneType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InaccessibleContact.PhoneType.PhoneTypeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.InaccessibleContact.InaccessibleContactId">Edit</a> |
    <a asp-page="../Properties/Details" asp-route-id="@Model.InaccessibleContact.ContactList.InaccessiblePropertyId">Back to List</a>
</div>
