@page
@model Topaz.UI.Razor.Pages.Contacts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InaccessibleContact[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InaccessibleContact[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InaccessibleContact[0].MiddleInitial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InaccessibleContact[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InaccessibleContact[0].MailingAddress1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InaccessibleContact[0].MailingAddress2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InaccessibleContact[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InaccessibleContact[0].ContactList)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InaccessibleContact[0].PhoneType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.InaccessibleContact) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleInitial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MailingAddress1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MailingAddress2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactList.InaccessibleContactListId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneType.PhoneTypeId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.InaccessibleContactId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.InaccessibleContactId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.InaccessibleContactId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
