@page
@model Topaz.UI.Razor.Areas.Admin.Pages.InaccessibleTerritories.IndexModel

@{
    ViewData["Title"] = "Index";

    var result = Model.InaccessibleTerritory.Select((x) => { 

        DateTime? checkInDate = null;
        if (Model.DateLookup.ContainsKey(x.TerritoryId))
        {
            checkInDate = Model.DateLookup[x.TerritoryId].CheckInDate;
        }

        DateTime? createDate = null;
        if (Model.DateLookup.ContainsKey(x.TerritoryId))
        {
            createDate = Model.DateLookup[x.TerritoryId].CreateDate;
        }

        return new { 
            x.TerritoryId, 
            x.TerritoryCode, 
            x.StreetTerritory, 
            x.InActive, 
            CheckInDate = checkInDate, 
            CreateDate = createDate 
        }; 
    });

}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InaccessibleTerritory[0].TerritoryCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InaccessibleTerritory[0].StreetTerritory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InaccessibleTerritory[0].InActive)
            </th>
            <th>Last Checked In</th>
            <th>Last Researched</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in result.OrderBy(x => x.CheckInDate))
        {
            <tr class="@(@item.CreateDate < item.CheckInDate ? "table-warning" : "")">
                <td>
                    @Html.DisplayFor(modelItem => item.TerritoryCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StreetTerritory.TerritoryCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InActive)
                </td>
                <td>@Html.DisplayFor(modelItem => item.CheckInDate)</td>
                <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.TerritoryId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.TerritoryId">Details</a> |
                    <a asp-page="./ContactsImport" asp-route-id="@item.TerritoryId">Import</a> |
                    <a asp-page="./Delete" asp-route-id="@item.TerritoryId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
